@font-face {
    font-family: SourceSansPro;
    src: url("../fonts/SourceSansPro/SourceSansPro-Regular.ttf");
}

body {
    font-family: SourceSansPro;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
    line-height: 1.5em;
    padding: 25px;
    background-color: #2E3133;
    min-width: 400px;
}

a {
    text-decoration: none;
    color: white;
}

img {
    width: 100%;
    min-width: 30%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}

/* Voeg jouw css hieraan toe */

/* Hex: #A16CD5 */

.intro_text {
    width: 70%;
}

h3 a {
    color: hsla(270, 56%, 63%, 1);
}

h3 a:hover {
    color: #EC826C;
}

.grid {
    height: 250px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-gap: 5px;
    color: white;
}

.grid_timberland {}

/* eminem info site  */

.grid_eminem {}

/*rude site info */

.grid_rude {}

.grid_inside1 {
    grid-area: 1/1/2/2;
}

.grid_inside2 {
    grid-area: 1/2/2/3;
    background-color: #fff;
}

.grid_inside3 {
    grid-area: 2/1/3/2;
    background-color: #fff;
}

.grid_inside4 {
    grid-area: 2/2/3/3;
    background-color: #fff;
}

.grid_inside5 {
    grid-area: 3/1/4/2;
    background-color: #fff;
}

.grid_inside6 {
    grid-area: 3/2/4/3;
    background-color: #fff;
}

.grid_inside7 {
    grid-area: 4/1/5/2;
    background-color: #fff;
}

.grid_inside8 {
    grid-area: 4/2/5/3;
    background-color: #fff;
}

p {
    margin: 2px 15px 2px 15px;
}

.positive {
    background-color: #8AE267;
}

.negative {
    background-color: #EC826C;
}

.user li {
    margin-bottom: 10px;
}

.container_user {
    width: 90%;
}

/* Digital Styleguide */

.menu ul {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    background-color: white;
    padding: 0px;
}

.menu ul li {
    list-style-type: none;
    display: inline-block;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    border-left: #000 solid 5px;
}

.menu ul a:hover {
    background-color: #2E3133;
    color: white;
}

.menu ul a {
    width: 100%;
    color: #EC826C;
    text-decoration: none;
}

.goup {
    font-size: 28px;
    position: fixed;
    top: 93%;
    left: 95%;
    width: 30px;
    height: 35px;
    background-color: hsla(270, 56%, 63%, 1);
    border-radius: 50%;
    text-align: center;
}

.goup:hover {
    background: #E2D396;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-top: 5px;
}

.logo_1 {
    height: auto;
    width: 10%;
}

.logo_2 {
    height: auto;
    width: 20%;
}

.color {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35%;
    font-size: 24px;
    margin-top: 5px;
}

.color_1 {
    background-color: #A16CD5;
    color: white;
}

.color_2 {
    background-color: #EC826C;
    color: white;
}

.color_3 {
    background-color: #E2D396;
    color: white;
}

.color_4 {
    background-color: #FFDE17;
    color: white;
}

.color_5 {
    background-color: #4EA515;
    color: white;
}

.color_6 {
    background-color: #2E3133;
}

/* Fonts */

.whitebox {
    border: 2px solid white;
    height: 200px;
    width: 500px;
    margin-bottom: 50px;
}

.titel {
    margin-bottom: 10px;
}

.font1 {
    margin-top: 30px;
    margin-left: 50px;
    font-size: 58px;
}

.font2 {
    margin-top: 30px;
    margin-left: 50px;
    font-size: 35px;
}

.font3 {
    margin-top: 30px;
    margin-left: 50px;
    font-size: 35px;
    font-weight: bold;
}

.font4 {
    margin-top: 30px;
    margin-left: 50px;
    font-size: 35px;
    font-weight: 300;
}

.font5 {
    margin-top: 30px;
    margin-left: 50px;
    font-size: 27px;
    font-weight: 300;
    font-style: italic;
}

.font6 {
    margin-top: 30px;
    margin-left: 50px;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
}

.font7 {
    margin-top: 30px;
    margin-left: 50px;
    font-size: 14px;
}

/* icons */

.iconContainer {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    width: 800px;
}

.icon {
    margin-right: 50px;
}

.icon_1 {
    height: auto;
    width: 12%;
}

.icon_2 {
    height: auto;
    width: 12%;
    transform: rotate(90deg);
}

.icon_3 {
    height: auto;
    width: 12%;
    transform: rotate(-90deg);
}

.icon_4 {
    height: 135px;
    width: 500px;
    margin-right: 300px;
}

.icon_5 {
    height: 50px;
    width: 50px;
    margin-left: 5px;
}

/* btns */

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    width: 365px;
    height: 51px;
    font-size: 35px;
    margin-top: 10px;
}

.button2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.btnContainer {
    width: 700px;
    height: 500px;
    display: flex;
    align-content: space-around;
    justify-content: space-between;
    flex-wrap: wrap;
}

.subscribe {
    width: 336px;
    height: 37px;
    background-color: #EC826C;
    font-size: 27px;
    text-align: center;
    font-weight: bold;
}

.addcart {
    width: 336px;
    height: 56px;
    background-color: #EC826C;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
}

.addcart a {
    color: white;
}

.subscribe a {
    color: white;
}

.login {
    background-color: #4EA515;
}

.register {
    background-color: #4EA515;
}

.facebook {
    font-size: 20px;
    text-transform: initial;
    background-color: #3C66C4;
}

.googleplus {
    font-size: 20px;
    text-transform: initial;
    background-color: #CF4332;
}

.menuwebsite {
    width: 100%;
    height: 114px;
    background: url("../images/Full_bar_bg.png") no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuwebsite a {
    font-size: 58px;
    margin: 0px;
    line-height: 1;
}

.menuwebsite a:hover {
    color: #A16CD5;
}

.items {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.logoImage {
    max-width: 18%;
    align-self: center;
}

#imagelogo {
    max-width: 100%;
    height: auto;
}

.purple_spike {
    width: 100%;
}

/* textfield / forms */

#textfield {
    font-size: 35px;
    height: 51px;
    width: 365px;
    border: none;
}

.username {
    margin-bottom: 25px;
    margin-right: 10px;
}

.user {
    font-style: italic;
    font-size: 25px;
    margin-bottom: 10px;
}

.signinAndRegisterContainer {
    width: 90%;
    height: 699px;
    background: url("../images/Full_bar_bg.png") no-repeat;
    display: flex;
    justify-content: space-around;
}

.titel_form {
    text-transform: uppercase;
    color: #A16CD5;
    font-size: 35px;
    margin-bottom: 25px;
}

#checkoutform .titel_form {
    color: #EC826C;
}

.signinContainer {
    margin-top: 50px;
}

.registrationContainer {
    margin-top: 50px;
}

.verticalLine {
    border-left: 2px solid lightgrey;
    height: 500px;
    margin-top: 50px;
}

/* Check out Container */

.checkoutContainer {
    margin-top: 50px;
    width: 60%;
    height: 750px;
    background: url("../images/Full_bar_bg.png") no-repeat;
    display: flex;
    justify-content: space-around;
}

.customerInfoContainer {
    margin-top: 50px;
}

.verticalLine {
    border-left: 2px solid lightgrey;
    height: 650px;
    margin-top: 50px;
}

.name #textfield {
    width: 260px;
}

#textfield_long {
    width: 530px;
    font-size: 35px;
    height: 51px;
    border: none;
}

.name {
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.countries {
    height: 51px;
    width: 260px;
}